html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif; }
#map { height: 100%; }
.registrationForm {
  z-index: 1500 !important;
  display: block;
  opacity: 1;
  transform: scaleX(1);
  top: 10%;
  color: black;
}

.loginForm {
  z-index: 1500 !important;
  display: block;
  opacity: 1;
  transform: scaleX(1);
  top: 10%;
  color: black;
}

.eventForm {
  z-index: 1500 !important;
  display: block;
  opacity: 1;
  transform: scaleX(1);
  top: 10%;
  color: black;
}

.placesList {
  z-index: 1500 !important;
  display: block;
  opacity: 1;
  transform: scaleX(1);
  top: 10%;
  color: black;
}
.siteGuide {
  z-index: 1500 !important;
  display: block;
  opacity: 1;
  transform: scaleX(1);
  top: 10%;
  color: black;
}
#clickZone {
  height: 10px;
  width: 10px;
}

.brand-logo img {
  z-index: 1500;
  max-height: 60px;
}

.card-butt {
  margin: 10px;
/*  margin-left: 20px;
  margin-right: 10px;*/
}

nav li {
  margin-left: 5px;
}
.circle {
  max-height: 60px;
  max-width: 60px;
  margin-bottom: -22px;
}

.btn-flat {
  color: white;
}

button.indigo {
  margin-top: 15px;
}

.loadingIndicator {
  margin-left: 40px;
  margin-top: 15px;
}

.site-guide {
  text-align: center;
}
.btn {
  vertical-align: inherit;
}
.btn-flat {
  vertical-align: inherit;
}

.gm-style {
  font-family: inherit;
}
.friend {
  margin-bottom: 0px;
}
.siteGuide {
  background-image: url(/microphone.jpg);
  background-size: 100%;
  width: 80%;
  height: 60%;
  color: white;
  padding: 10px;
  box-sizing: border-box;
}

.site-footer{
  position: fixed;
  height: 20px;
  background-color: #3d5afe;
  bottom: 0px;
  width: 100%;
  color: white;
}

.event {
  max-height: 200px;
}

.header {
  font-weight: bold;

}

.site-guide {
  margin-top: 10%;
  padding: 4%;
}

#cancel {
  margin-bottom: 2%;
  margin-top: -2px;
}
