html, body { height: 100%; margin: 0; padding: 0; }
#map { height: 100%; }
.registrationForm {
  z-index: 1003;
  display: block;
  opacity: 1;
  transform: scaleX(1);
  top: 10%;
  color: black;
}

.loginForm {
  z-index: 1003;
  display: block;
  opacity: 1;
  transform: scaleX(1);
  top: 10%;
  color: black;
}

.eventForm {
  z-index: 1005;
  display: block;
  opacity: 1;
  transform: scaleX(1);
  top: 10%;
  color: black;
}

.placesList {
  z-index: 1003;
  display: block;
  opacity: 1;
  transform: scaleX(1);
  top: 10%;
  color: black;
}
.siteGuide {
  z-index: 1003;
  display: block;
  opacity: 1;
  transform: scaleX(1);
  top: 10%;
  color: black;
}
#clickZone {
  height: 10px;
  width: 10px;
}

.card-butt {
  width: 100%;
  margin-left: 20px;
  margin-right: 10px;
}

nav li {
  margin-left: 5px;
}
.circle {
  max-height: 40px;
  max-width: 40px;
}
